<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.com.mattana.dms">

    <!-- Used to start logging after re-boot -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="vn.com.mattana.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="MATTANA DMS"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".checkin.CalendarActivity"
            android:label="Lịch công tác"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".checkin.CheckInActivity"
            android:label="Lịch công tác ngày"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".checkin.CheckInTaskActivity"
            android:label="Ghé thăm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".order.ProductActivity"
            android:label="Sản phẩm"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".order.CompleteOrderActivity"
            android:label="Đặt hàng"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".order.ShowOrderActivity"
            android:label="Đơn hàng"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".order.ShowOrderDetailActivity"
            android:label="Chi tiết đơn hàng"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="vn.com.mattana.service.LocationUpdatesService" />

        <!-- Firebase Notifications -->
        <service android:name="vn.com.mattana.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="vn.com.mattana.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- ./Firebase Notifications -->

        <activity
            android:name=".order.FilterOrderActivity"
            android:label="Lọc đơn hàng"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoticeActivity"
            android:label="Thông báo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SimpleScanActivity"
            android:label="Mattana"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>